
@model List<StApp.Entityes.Directory>
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <h2>
                        <a asp-action="Index" asp-controller="Page" asp-route-pageId="@item.Id" asp-route-pageType="@StApp.Enums.PageEnums.PageType.Directory">@item.Title</a>
                        <a asp-action="PageEditor" asp-controller="Page" asp-route-pageId="@item.Id" asp-route-pageType="@StApp.Enums.PageEnums.PageType.Directory"> - edit</a>
                    </h2>
                    <ul>
                        @if (item.Materials != null)
                        {
                            foreach (var subItem in item.Materials)
                            {
                                <li>
                                    <a asp-action="Index" asp-controller="Page" asp-route-pageId="@subItem.Id" asp-route-pageType="@StApp.Enums.PageEnums.PageType.Material">@subItem.Title</a>
                                    <a asp-action="PageEditor" asp-controller="Page" asp-route-pageId="@subItem.Id" asp-route-directoryId="@item.Id" asp-route-pageType="@StApp.Enums.PageEnums.PageType.Material"> - edit</a>
                                </li>
                            }
                            <li>
                                <a asp-action="PageEditor" asp-controller="Page" asp-route-pageId="0" asp-route-directoryId="@item.Id" asp-route-pageType="@StApp.Enums.PageEnums.PageType.Material"> - create Material</a>
                            </li>
                        }

                    </ul>
                </li>
            }
            <li>
                <a asp-action="PageEditor" asp-controller="Page" asp-route-pageId="0" asp-route-pageType="@StApp.Enums.PageEnums.PageType.Directory">-create Directory</a>
            </li>
        </ul>
    </div>
</div>